.register__input {
    margin-bottom: 30px;
    width: 358px;
    height: 14px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #000000;
    color: white;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    padding: 0 0 10px;
}

.register__input:last-of-type {
    margin-bottom: 0px;
}