.footer {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 67px 0 0;
    padding-bottom: 60px;
}

@media screen and (max-width: 610px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
        margin: 48px 19px 0;
        padding-bottom: 36px;
    }
}