.element__delete-button {
    background-image: url(../../../images/Trash.svg);
    background-size: cover;
    background-position: center;
    border: none;
    width: 18px;
    height: 19px;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: hidden;
}

.element__delete-button:hover {
    opacity: 0.6;
    cursor: pointer;
}