.header {
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 610px) {
    .header {
        padding: 28px 0 0 27px;
        margin-top: 0;
        min-height: 56px;
    }
}